@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600;700&display=swap');

/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
font-family: 'Open Sans', sans-serif;
color: var(--color-text-primary);
background-color: var(--color-secondary);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
font-family: 'Poppins', sans-serif;
color: var(--color-text-on-dark);
}

/* Links */
a {
color: var(--color-accent);
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
